moril==1.0.2
sphinx
sphinx-proof
sphinx-inline-tabs
pydata-sphinx-theme
jupyter-book
matplotlib
numpy
plotly
networkx
pygraphviz
pydot
matplotlib
pandas
keras
tensorflow
sympy
pygeos
geometer
prettytable
plottable
great_tables
python-dotenv
seaborn
graphviz
nbclean
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
