sphinx
sphinx-proof
sphinx-inline-tabs
pydata-sphinx-theme
jupyter-book
matplotlib
numpy
plotly
networkx
pygraphviz
pydot
matplotlib
pandas
keras
tensorflow
sympy
pygeos
geometer
prettytable
plottable
great_tables
python-dotenv
moril
seaborn
graphviz
nbclean